@page
@model AzureUploader.RCL.Areas.AzureUploader.Pages.IndexModel

@section head {
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" 
        integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
}


<p>My Uploads</p>

<form action="/AzureUploader/Index" class="dropzone" id="uploader"></form>

<ul>
    @foreach (var item in Model.MyBlobs)
    {
        <li>@item.Name</li>
    }
</ul>


@section Scripts {
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone-amd-module.min.js" 
        integrity="sha256-resMHNTFeF3aRsPgzKyH1bIwSmB4dUlHGTE5nfldZLI=" crossorigin="anonymous"></script>
    <script type="text/javascript">     
        Dropzone.autoDiscover = false;
        $(function () {
            var myDropzone = new Dropzone("#uploader");
            myDropzone.on("sending", function(file, xhr, data) {
                if (file.fullPath) {
                    data.append(file.fullPath);
                }
            });
        })
    </script>
}